.flex-card-container {
    display: flex;
    flex-direction: row; /* Changed from column to row */
}

.sidebar {
    width: 180px;
    height: 550px;
    margin-left: 120px;
    background-color: #BCD9D3 !important;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.card-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #ffffff;
    border: 2px solid #00857E;
    border-radius: 5px;
    cursor: pointer;
    color: #00857E;
    font-weight: bold;
    text-align: left;
}

.card-button.active {
    background-color: #00857E;
    color: #ffffff;
}

.card-button:hover {
    background-color: #00665E;
    color: #ffffff;
}

.icon {
    margin-right: 10px;
}

.card-button#card2 {
    border: none;
}

.rectangle {
    border-radius: 22px;
    width: 200px;
    height: 50px;
    background-color: #00857E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectCardCompany {
    color: white;
    font-size: 20px;
}

.myCardCount {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #5E5555;
    font-weight: bold;
}

.content-container {
    width: 400px !important;
    flex: 1; /* Added this */
    display: flex;
    flex-direction: column;
    margin-left: 50px; /* Add spacing between sidebar and content */
    position: relative;
}

#carouselExampleIndicators {
    margin-top: 20px;
    width: 900px;
    height: 400px;
}

#carouselExampleIndicators img {
    width: 400px;
    height: 250px;
    object-fit: contain;
    margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #D9D9D9;
}

.carousel-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#carouselExampleIndicators img {
    margin-top: 50px;

}

.carousel-indicators button {
    background-color: #00857E !important; /* 비활성 상태의 배경 색상 */
}

.carousel-indicators button.active {
    background-color: blue; /* 활성 상태의 배경 색상 */
}



.myCardName {
  color: #5E5555;
  font-size: 28px;
   font-weight: bold; /* 폰트를 굵게 설정 */
   position: absolute; /* 위치를 절대적으로 설정 */
   bottom: -30px;      /* 하단에서 10px 위에 위치하게 설정 */
   left: 40%;         /* 부모 요소의 가운데에 위치하게 설정 */
   transform: translateX(-40%); /* 정확하게 중앙에 오도록 조정 */
}

/* 이미지에 호버 효과를 주기 위한 스타일 */
.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-item img {
  transition: transform 0.3s ease-in-out;
}

.carousel-item:hover img {
  transform: scale(0.95); /* 이미지를 확대하여 호버 효과 제공 */
}


<!-- 여기서부터 카드 디테일 페이지 -->


/* 아코디언의 너비를 조절하고 간격을 늘립니다 */
.accordion {
    margin-left: 500px !important; /* 사이드바와 간격 조절 */
}

.main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;  /* viewport height를 이용하여 화면의 높이를 채웁니다. */
        background-color: #f6f6f6; /* 배경색 */
        padding: 20px;
    }

    .OnePayCardCompany {

        background-color: white;
        padding: 20px;
        border-radius: 15px;  /* 둥근 모서리 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 그림자 효과 */
        width: 100%;
        max-width: 1000px;  /* 최대 가로 너비 */
    }

.dropdown {
    margin-left: 50px;

}

.btn btn-secondary dropdown-toggle {
    background-color: #00857E !important;
}

.onepayCardImg{
}

.onepayCardInfo {
    margin-left: 50px;
}

.onepayCardCheckbox{
    margin-left: 50px !important;
}

.centered-button {
    background-color: #BCD9D3;
    display: flex;
        flex-direction: column; /* 세로 방향으로 항목들을 정렬합니다. */
        align-items: center; /* 중앙 정렬을 위한 스타일 */
}

.card-item {
    display: flex;     /* 수평으로 배열 */
    align-items: center;  /* 중앙 정렬 */
    margin-bottom: 20px;  /* 카드 아이템 간의 간격 */
}
.cardBank{
    margin-right: 20px;
}

.card-image {
    width: 300px;      /* 이미지의 너비 */
    height: 180px;      /* 이미지의 높이 */
    object-fit: cover;  /* 이미지의 비율 유지 */
    margin-right: 20px;  /* 이미지와 텍스트 정보 간의 간격 */
}


