.flex-card-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 180px;
    height: 550px;
    margin-left: 120px;
    background-color: #BCD9D3 !important;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.card-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #ffffff;
    border: 2px solid #00857E;
    border-radius: 5px;
    cursor: pointer;
    color: #00857E;
    font-weight: bold;
    text-align: left;
}

.card-button.active {
    background-color: #00857E;
    color: #ffffff;
}

.card-button:hover {
    background-color: #00665E;
    color: #ffffff;
}

.icon {
    margin-right: 10px;
}

.card-button#card2 {
    border: none;
}

.rectangle {
    border-radius: 22px;
    width: 200px;
    height: 50px;
    background-color: #00857E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectCardCompany {
    color: white;
    font-size: 20px;
}

.myCardCount {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #5E5555;
    font-weight: bold;
}

.content-container {
    width: 400px !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    position: relative;
}

#carouselExampleIndicators {
    margin-top: 20px;
    width: 900px;
    height: 400px;
}

#carouselExampleIndicators img {
    width: 400px;
    height: 250px;
    object-fit: contain;
    margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #D9D9D9;
}

.carousel-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#carouselExampleIndicators img {
    margin-top: 50px;

}

.carousel-indicators button {
    background-color: #00857E !important;
}

.carousel-indicators button.active {
    background-color: blue;
}



.myCardName {
  color: #5E5555;
  font-size: 28px;
   font-weight: bold;
   position: absolute;
   bottom: -30px;
   left: 40%;
   transform: translateX(-40%);
}

.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-item img {
  transition: transform 0.3s ease-in-out;
}

.carousel-item:hover img {
  transform: scale(0.95);
}


<!-- 여기서부터 카드 디테일 페이지 -->


.accordion {
    margin-left: 500px !important;
}

.main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f6f6f6;
        padding: 20px;
    }

    .OnePayCardCompany {

        background-color: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 1000px;
    }

.dropdown {
    margin-left: 50px;

}

.btn btn-secondary dropdown-toggle {
    background-color: #00857E !important;
}

.onepayCardImg{
}

.onepayCardInfo {
    margin-left: 50px;
}

.onepayCardCheckbox{
    margin-left: 50px !important;
}

.centered-button {
    background-color: #BCD9D3;
    display: flex;
        flex-direction: column;
        align-items: center;
}

.card-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cardBank{
    margin-right: 20px;
}

.card-image {
    width: 300px;
    height: 180px;
    object-fit: cover;
    margin-right: 20px;
}


