<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.kopo.finalhanaonepayproject.shop.model.DAO.ShopDAO">

    <!-- 세션에 로그인한 고객 식별번호로 payCard 정보 다 가져오기 (identityNumber) -->
    <select id="selectINOfPayCard" parameterType="String" resultType="com.kopo.finalhanaonepayproject.hanaOnePay.model.DTO.HanaOnePayCardDTO">
        select *
        from payCard
        where identityNumber = #{identityNumber}
    </select>

    <!--    하나머니 조회-->
    <select id="selectHanaMoney" resultType="int">
        SELECT hanaMoney
        FROM hanaMoney
        WHERE identityNumber = #{identityNumber}
    </select>

    <!--    하나머니 차감 후 업데이트  -->
    <update id="updateHanaMoney">
        UPDATE hanaMoney
        SET hanaMoney = hanaMoney - #{usedPoint}
        WHERE identityNumber = #{identityNumber}
    </update>

</mapper>
