<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.kopo.finalhanaonepayproject.customer.model.DAO.CustomerDAO">
    <!-- 전체회원조회 -->
    <select id="selectAllCustomerList" resultType="com.kopo.finalhanaonepayproject.customer.model.DTO.CustomerDTO">
        SELECT *
        FROM customer_hana
    </select>

    <!-- 로그인 -->
    <select id="login" parameterType="HashMap" resultType="com.kopo.finalhanaonepayproject.customer.model.DTO.CustomerDTO">
        SELECT
        *
        FROM customer_hana
        where customerId = #{id}
        and password = #{password}
    </select>

    <!-- 고객 정보 불러오기 (id) -->
    <select id="selectIdOfCustomer" parameterType="String" resultType="com.kopo.finalhanaonepayproject.customer.model.DTO.CustomerDTO">
        SELECT *
        FROM customer_hana
        where customerId = #{id}
    </select>

    <!-- 고객 정보 수정 -->
    <update id="updateCustomer" parameterType="com.kopo.finalhanaonepayproject.customer.model.DTO.CustomerDTO">
        UPDATE customer_hana
        SET password = #{password}, name = #{name}, phoneNumber = #{phoneNumber}, email = #{email}, address = #{address}
        WHERE customerId = #{customerId}
    </update>

</mapper>

