<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kopo.cardserver.model.DAO.CardDAO">
    <select id="getCustomerCards" resultType="com.kopo.cardserver.model.DTO.CardDTO">
        SELECT c.*
        FROM ${tableCode}_card c
                 JOIN ${tableCode}_account a ON c.accNumber = a.accNumber
                 JOIN ${tableCode}_customer cu ON a.identityNumber = cu.identityNumber
        WHERE cu.identityNumber = #{identityNumber}
    </select>
</mapper>

