<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kopo.cardserver.model.DAO.CardDAO">

<!--    고객 계좌 조회-->
    <select id="getCustomerAccounts" resultType="com.kopo.cardserver.model.DTO.AccountDTO">
        SELECT c.*
        FROM ${tableCode}_account c
                 JOIN ${tableCode}_customer cu ON c.identityNumber = cu.identityNumber
        WHERE cu.identityNumber = #{identityNumber}
    </select>

<!--    고객 카드 조회-->
    <select id="getCustomerCards" resultType="com.kopo.cardserver.model.DTO.CardDTO">
        SELECT c.*
        FROM ${tableCode}_card c
                 JOIN ${tableCode}_account a ON c.accNumber = a.accNumber
                 JOIN ${tableCode}_customer cu ON a.identityNumber = cu.identityNumber
        WHERE cu.identityNumber = #{identityNumber}
    </select>

    <!-- 카드가 신용인지 체크인지 검사위해 조회 -->
    <select id="getCardTypeByCardNumberAndIdentityNumber" resultType="string">
        SELECT i.cardTypeCode
        FROM ${tableCode}_card c
                 JOIN ${tableCode}_card_item i ON c.cardItemId = i.cardItemId
                 JOIN ${tableCode}_account a ON c.accNumber = a.accNumber
                 JOIN ${tableCode}_customer cu ON a.identityNumber = cu.identityNumber
        WHERE c.cardNumber = #{cardNumber} AND cu.identityNumber = #{identityNumber}
    </select>

    <!-- 카드가 활성상태인지 확인하기 위해 조회 -->
    <select id="getCardStatusByCardNumberAndIdentityNumber" resultType="String">
        SELECT c.cardStatus
        FROM ${tableCode}_card c
                 JOIN ${tableCode}_card_item p ON c.cardItemId = p.cardItemId
                 JOIN ${tableCode}_account a ON c.accNumber = a.accNumber
                 JOIN ${tableCode}_customer cu ON a.identityNumber = cu.identityNumber
        WHERE c.cardNumber = #{cardNumber} AND cu.identityNumber = #{identityNumber}
    </select>

    <!-- 결제카드의 잔액을 조회 for 체크카드 -->
    <select id="getAccountBalanceByCardNumber" resultType="BigDecimal">
        SELECT a.accBalance
        FROM ${tableCode}_card c
                 JOIN ${tableCode}_account a ON c.accNumber = a.accNumber
        WHERE c.cardNumber = #{cardNumber}
    </select>

    <!-- 결제 시 계좌 잔액 마이너스 업데이트 for 체크카드 -->
    <update id="updateAccountBalanceByCardNumber">
        UPDATE ${tableCode}_account a
        SET a.accbalance = a.accbalance - #{amount}
        WHERE a.accNumber = (
            SELECT c.accNumber
            FROM ${tableCode}_card c
            WHERE c.cardNumber = #{cardNumber}
        )
    </update>

    <!--    신용카드 한도 조회-->
    <select id="getCreditCardLimitByCardNumberAndIdentityNumber" resultType="BigDecimal">
        SELECT c.limit
        FROM ${tableCode}_card c
                 JOIN ${tableCode}_account a ON c.accNumber = a.accNumber
                 JOIN ${tableCode}_customer cu ON a.identityNumber = cu.identityNumber
        WHERE c.cardNumber = #{cardNumber} AND cu.identityNumber = #{identityNumber}
    </select>

    <!--   결제 시 신용카드 한도 update-->
    <update id="updateCreditCardLimitByCardNumberAndIdentityNumber">
        UPDATE ${tableCode}_card c
        SET c.limit = c.limit - #{amount}
        WHERE c.cardNumber = #{cardNumber}
          AND EXISTS (
            SELECT 1
            FROM ${tableCode}_account a
                     JOIN ${tableCode}_customer cu ON a.identityNumber = cu.identityNumber
            WHERE a.accNumber = c.accNumber
              AND cu.identityNumber = #{identityNumber}
        )
    </update>

    <!-- 결제 시 미결제 금액 관리(결제 보류) 테이블에 해당 정보 기록 -->
    <insert id="insertPendingPayment">
        INSERT INTO ${tableCode}_card_pending_pay (pendingId, cardNumber, payAmount, withdrawalDate, payStatus)
        VALUES (${tableCode}_card_pending_pay_seq.NEXTVAL, #{cardNumber}, #{payAmount}, #{withdrawalDate}, #{payStatus})
    </insert>

    <select id="getPendingPaymentsByDate" resultType="com.kopo.cardserver.model.DTO.PendingPaymentDTO">
        SELECT * FROM ${tableCode}_card_pending_pay
        WHERE withdrawalDate = #{withdrawalDate} AND payStatus = 'Pending'
    </select>

    <update id="updatePayStatusToApproval">
        UPDATE ${tableCode}_card_pending_pay
        SET payStatus = 'Approval'
        WHERE pendingId = #{pendingId}
    </update>


</mapper>

